.logo_wrapper {
  text-align: center;
  padding: 2rem 0 0;
  background-color: #e4f5ee;
  img {
    width: 80px;
    cursor: pointer;
  }
}
.form_wrapper {
  background-color: #e4f5ee;
  .wrapper {
    width: 90%;
    margin: auto;
    padding: 3rem 0;
    .form_label {
      text-align: center;
      h1 {
        margin-bottom: 1rem;
        color: #1c4a36;
        font-size: 2.4rem;
      }
      .active {
        background-color: #1c4a36;
        color: white;
      }
      button {
        padding: 0.8rem 2rem;
        border: none;
        background-color: white;
        margin: 0 0.3rem;
        cursor: pointer;
        font-weight: 500;
        border: 4px;
        border-radius: 4px;
        transition: 0.3s ease-in-out;
        &:hover {
          opacity: 0.4;
        }
      }
    }
    form {
      max-width: 450px;
      margin: 2rem auto 0;
      input,
      button {
        width: 100%;
        padding: 1rem;
        margin: 0.4rem;
        border-radius: 4px;
        border: none;
        font-weight: 500;
        outline: none;
      }
      button[type="submit"] {
        background-color: #1c4a36;
        color: white;
        border: none;
        cursor: pointer;
        font-weight: 600;
        transition: 0.3s ease-in-out;
        border: 1.3px solid transparent;
        &:hover {
          border-color: #1c4a36;
          background-color: white;
          color: #1c4a36;
        }
      }
      .terms {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 0;
        input {
          padding: 0.2rem;
          margin-right: 1rem;
          width: fit-content;
        }
        p {
          color: #686868;
          font-size: 0.8rem;
          font-weight: 500;
          span {
            color: black;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
      .flex {
        margin: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
        font-weight: 600;
        color: #686868;
        .line {
          width: 100px;
          height: 2px;
          background-color: white;
          margin: 0 0.5rem;
        }
      }
      .googlebtn {
        display: flex;
        flex-direction: column;
        align-items: center;
        button {
          background-color: white;
          color: #1c4a36;
          width: fit-content;
          transition: 0.3s ease-in-out;
          cursor: pointer;
          &:hover {
            background-color: rgb(252, 250, 250);
            color: #2f7c5b;
          }
        }
        p {
          font-size: 0.8rem;
          color: #686868;
          margin-top: 0.5rem;
          span {
            text-decoration: underline;
            color: black;
            cursor: pointer;
          }
        }
      }
    }
  }
}
