.contact {
  background-color: #1c4a36;

  .wrapper {
    width: 90%;
    margin: auto;
    color: white;
    padding: 3rem 0;
    text-align: center;
    max-width: 500px;
    margin: auto;
    .span {
      background-color: #e4f5ee;
      color: #1c4a36;
      display: inline-block;
      font-size: 0.8rem;
      padding: 0.5rem;
      font-weight: 600;
      border-radius: 3px;
    }
    h1 {
      margin: 1rem 0 0.5rem;
      @media screen and (min-width: 500px) {
        font-size: 3rem;
      }
    }
    P {
      color: hsla(0, 0%, 100%, 0.8);
      line-height: 1.5;
      span {
        color: white;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
