.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  z-index: 100;
  .header {
    background-color: white;
    width: 100vw;
    position: relative;
    z-index: 100;
    .navigation {
      width: 90%;
      margin: auto;
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
        width: 75px;
        cursor: pointer;
      }
      .bar_container {
        width: 30px;
        height: 30px;
        transition: 0.3s ease-in-out;
        &:hover {
          transform: translateY(-1px);
        }
        @media screen and (min-width: 800px) {
          display: none;
        }
        .barMenu {
          cursor: pointer;
          display: inline-block;
        }
      }
      .nav_links {
        display: flex;
        transition: 0.3s ease-in-out;
        @media screen and (max-width: 800px) {
          top: 4rem;
          left: 0;
          right: 0;
          transform: translateX(200%);
          z-index: -1;
          position: absolute;
          flex-direction: column;
          background-color: white;
          animation: FadeIn 0.3s ease-in-out forwards;
          padding: 0.5rem 2rem;
        }
        .link {
          margin: 0 1rem;
          font-weight: 600;
          cursor: pointer;
          color: #1c4a36;
          transition: 0.3s ease-in-out;
          @media screen and (max-width: 800px) {
            margin: 0.5rem 0;
          }
          &:hover {
            .arrow_container {
              opacity: 0.8;
            }
          }
          .flex_categories,
          .flex_location {
            display: flex;
            align-items: center;
            &:hover {
              opacity: 0.8;
            }
          }
          .arrow_container {
            width: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: rotate(90deg);
            margin-left: 0.5rem;
          }
          .sublinks_categories_active {
            position: absolute;
            top: 100%;
            background-color: white;
            padding: 1rem 2rem;
            box-shadow: 1px 2px 10px rgba(128, 128, 128, 0.205);
            transition: 0.3s ease-in-out;
            animation: FadeIn 0.3s ease-in-out forwards;
            div {
              margin: 0.5rem 0;
              &:hover {
                opacity: 0.8;
              }
            }
          }
          .sublinks_categories_noneactive {
            display: none;
          }
        }
      }
      .mobile_links {
        left: 0;
        right: 0;
        top: 4rem;
        z-index: -1;
        padding: 0.5rem 2rem;
        position: absolute;
        transform: translateX(0);
        flex-direction: column;
        background-color: white;
        transition: 0.3s ease-in-out;
        animation: FadeIn 0.3s ease-in-out forwards;

        .link {
          margin: 0 1rem;
          font-weight: 600;
          cursor: pointer;
          color: #1c4a36;
          transition: 0.3s ease-in-out;
          @media screen and (max-width: 800px) {
            margin: 0.5rem 0;
          }
          &:hover {
            .arrow_container {
              opacity: 0.8;
            }
          }
          .flex_categories,
          .flex_location {
            display: flex;
            align-items: center;
            &:hover {
              opacity: 0.8;
            }
          }
          .arrow_container {
            width: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: rotate(90deg);
            margin-left: 0.5rem;
          }
          .sublinks_categories_active {
            position: absolute;
            top: 100%;
            background-color: white;
            padding: 1rem 2rem;
            box-shadow: 1px 2px 10px rgba(128, 128, 128, 0.205);
            transition: 0.3s ease-in-out;
            animation: FadeIn 0.3s ease-in-out forwards;
            div {
              margin: 0.5rem 0;
              &:hover {
                opacity: 0.8;
              }
            }
          }
          .sublinks_categories_noneactive {
            display: none;
          }
        }
      }
      .cta_container {
        @media screen and (max-width: 800px) {
          display: none;
        }
        .cta_login {
          background-color: red;
          padding: 1rem 1.4rem;
          border-radius: 4px;
          background-color: #e4f5ee;
          color: #1c4a36;
          font-weight: 600;
          border: none;
          cursor: pointer;
          font-size: 0.85rem;
          transition: 0.3s ease-in-out;

          &:hover {
            background-color: #1c4a36;
            color: white;
          }
        }
      }
    }
  }
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
