.container {
  height: 100vh;
}

.container .header {
  background-color: white;
  width: 100vw;
  position: relative;
  z-index: 100;
}

.container .header .navigation {
  width: 98%;
  margin: auto;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .header .navigation .logo {
  width: 75px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 800px) {
  .container .header .navigation .logo {
    width: 65px;
  }
}

.container .header .navigation .bar_container {
  width: 30px;
  height: 30px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.container .header .navigation .bar_container:hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

@media screen and (min-width: 800px) {
  .container .header .navigation .bar_container {
    display: none;
  }
}

.container .header .navigation .bar_container .barMenu {
  cursor: pointer;
  display: inline-block;
}

.container .header .navigation .nav_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 800px) {
  .container .header .navigation .nav_links {
    top: 4rem;
    left: 0;
    right: 0;
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
    z-index: -1;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    -webkit-animation: FadeIn 0.3s ease-in-out forwards;
            animation: FadeIn 0.3s ease-in-out forwards;
    padding: 0.5rem 2rem;
  }
}

.container .header .navigation .nav_links .link {
  margin: 0 1rem;
  font-weight: 600;
  cursor: pointer;
  color: #1c4a36;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 800px) {
  .container .header .navigation .nav_links .link {
    margin: 0.5rem 0;
  }
}

.container .header .navigation .nav_links .link:hover .arrow_container {
  opacity: 0.8;
}

.container .header .navigation .nav_links .link .flex_categories,
.container .header .navigation .nav_links .link .flex_location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .header .navigation .nav_links .link .flex_categories:hover,
.container .header .navigation .nav_links .link .flex_location:hover {
  opacity: 0.8;
}

.container .header .navigation .nav_links .link .arrow_container {
  width: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 0.5rem;
}

.container .header .navigation .nav_links .link .sublinks_categories_active {
  position: absolute;
  top: 100%;
  background-color: white;
  padding: 1rem 2rem;
  -webkit-box-shadow: 1px 2px 10px rgba(128, 128, 128, 0.205);
          box-shadow: 1px 2px 10px rgba(128, 128, 128, 0.205);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-animation: FadeIn 0.3s ease-in-out forwards;
          animation: FadeIn 0.3s ease-in-out forwards;
}

.container .header .navigation .nav_links .link .sublinks_categories_active div {
  margin: 0.5rem 0;
}

.container .header .navigation .nav_links .link .sublinks_categories_active div:hover {
  opacity: 0.8;
}

.container .header .navigation .nav_links .link .sublinks_categories_noneactive {
  display: none;
}

.container .header .navigation .mobile_links {
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  padding: 0.5rem 2rem;
  position: absolute;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-animation: FadeIn 0.3s ease-in-out forwards;
          animation: FadeIn 0.3s ease-in-out forwards;
  border-top: 0.5px solid rgba(18, 119, 60, 0.226);
}

@media screen and (min-width: 800px) {
  .container .header .navigation .mobile_links {
    z-index: 1;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
  }
}

.container .header .navigation .mobile_links .link {
  margin: 0 1rem;
  font-weight: 600;
  cursor: pointer;
  color: #1c4a36;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 800px) {
  .container .header .navigation .mobile_links .link {
    margin: 0.8rem 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.container .header .navigation .mobile_links .link:hover .arrow_container {
  opacity: 0.8;
}

.container .header .navigation .mobile_links .link .flex_categories,
.container .header .navigation .mobile_links .link .flex_location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .header .navigation .mobile_links .link .flex_categories:hover,
.container .header .navigation .mobile_links .link .flex_location:hover {
  opacity: 0.8;
}

.container .header .navigation .mobile_links .link .arrow_container {
  width: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 0.5rem;
}

.container .header .navigation .mobile_links .link .sublinks_categories_active {
  position: absolute;
  top: 100%;
  background-color: white;
  padding: 1rem 2rem;
  -webkit-box-shadow: 1px 2px 10px rgba(128, 128, 128, 0.205);
          box-shadow: 1px 2px 10px rgba(128, 128, 128, 0.205);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-animation: FadeIn 0.3s ease-in-out forwards;
          animation: FadeIn 0.3s ease-in-out forwards;
}

.container .header .navigation .mobile_links .link .sublinks_categories_active div {
  margin: 0.5rem 0;
}

.container .header .navigation .mobile_links .link .sublinks_categories_active div:hover {
  opacity: 0.8;
}

.container .header .navigation .mobile_links .link .sublinks_categories_noneactive {
  display: none;
}

@media screen and (max-width: 800px) {
  .container .header .navigation .cta_container {
    display: none;
  }
}

.container .header .navigation .cta_container .cta_login {
  background-color: red;
  padding: 1rem 1.4rem;
  border-radius: 4px;
  background-color: #e4f5ee;
  color: #1c4a36;
  font-weight: 600;
  border: none;
  cursor: pointer;
  font-size: 0.85rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.container .header .navigation .cta_container .cta_login:hover {
  background-color: #1c4a36;
  color: white;
}

.main {
  height: 100vh;
}

.footer {
  width: 100%;
  background-color: white;
  border-top: 1px solid #eaeaea;
  text-align: center;
  padding: 2rem;
  color: #1c4a36;
}

@-webkit-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=Layouts.module.css.map */