.header {
  background-color: white;
  width: 100vw;
  position: relative;
  z-index: 100;

  .navigation {
    width: 98%;
    margin: auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 75px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (max-width: 800px) {
        width: 65px;
      }
    }

    .nav_links {
      display: flex;
      transition: 0.3s ease-in-out;
      @media screen and (max-width: 800px) {
        top: 4rem;
        left: 0;
        right: 0;
        transform: translateX(200%);
        z-index: -1;
        position: absolute;
        flex-direction: column;
        background-color: white;
        animation: FadeIn 0.3s ease-in-out forwards;
        padding: 0.5rem 2rem;
      }
      .link {
        margin: 0 1rem;
        font-weight: 600;
        cursor: pointer;
        color: #1c4a36;
        transition: 0.3s ease-in-out;
        @media screen and (max-width: 800px) {
          margin: 0.5rem 0;
        }
        &:hover {
          .arrow_container {
            opacity: 0.8;
          }
        }
        .flex_categories,
        .flex_location {
          display: flex;
          align-items: center;
          &:hover {
            opacity: 0.8;
          }
        }
        .arrow_container {
          width: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          transform: rotate(90deg);
          margin-left: 0.5rem;
        }
        .sublinks_categories_active {
          position: absolute;
          top: 90%;
          background-color: white;
          padding: 1rem 2rem;
          box-shadow: 1px 2px 10px rgba(128, 128, 128, 0.205);
          transition: 0.3s ease-in-out;
          animation: FadeIn 0.3s ease-in-out forwards;
          div {
            margin: 0.5rem 0;
            &:hover {
              opacity: 0.8;
            }
          }
        }
        .sublinks_categories_noneactive {
          display: none;
        }
      }
    }
    .mobile_links {
      left: 0;
      right: 0;
      top: 100%;
      z-index: 1;
      padding: 0.5rem 2rem;
      position: absolute;
      transform: translateX(0);
      flex-direction: column;
      background-color: white;
      transition: 0.3s ease-in-out;
      animation: FadeIn 0.3s ease-in-out forwards;
      border-top: 0.5px solid rgba(18, 119, 60, 0.226);

      @media screen and (min-width: 800px) {
        z-index: 1;
        top: 0;
        display: flex;
        flex-direction: row;
        position: relative;
      }
      .link {
        margin: 0 1rem;
        font-weight: 600;
        cursor: pointer;
        color: #1c4a36;
        transition: 0.3s ease-in-out;
        @media screen and (max-width: 800px) {
          margin: 0.8rem 0;
          width: fit-content;
        }
        &:hover {
          .arrow_container {
            opacity: 0.8;
          }
        }
        .flex_categories,
        .flex_location {
          display: flex;
          align-items: center;
          &:hover {
            opacity: 0.8;
          }
        }
        .arrow_container {
          width: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          transform: rotate(90deg);
          margin-left: 0.5rem;
        }
        .sublinks_categories_active {
          position: absolute;
          top: 100%;
          background-color: white;
          padding: 1rem 2rem;
          box-shadow: 1px 2px 10px rgba(128, 128, 128, 0.205);
          transition: 0.3s ease-in-out;
          animation: FadeIn 0.3s ease-in-out forwards;
          div {
            margin: 0.5rem 0;
            &:hover {
              opacity: 0.8;
            }
          }
        }
        .sublinks_categories_noneactive {
          display: none;
        }
      }
    }
    .cta_container {
      display: flex;
      align-items: center;

      .bar_container {
        width: 30px;
        height: 30px;
        transition: 0.3s ease-in-out;
        margin-left: 1rem;
        &:hover {
          transform: translateY(-1px);
        }
        @media screen and (min-width: 800px) {
          display: none;
        }
        .barMenu {
          cursor: pointer;
          display: inline-block;
        }
      }
      .cta_login {
        background-color: red;
        padding: 1rem 1.4rem;
        border-radius: 4px;
        background-color: #e4f5ee;
        color: #1c4a36;
        font-weight: 600;
        border: none;
        cursor: pointer;
        font-size: 0.85rem;
        transition: 0.3s ease-in-out;
        @media screen and (max-width: 600px) {
          display: none;
        }
        &:hover {
          background-color: #1c4a36;
          color: white;
        }
      }
    }
  }
}

.main {
  height: auto;
}

.footer {
  width: 100%;
  background-color: white;
  border-top: 1px solid #eaeaea;
  text-align: center;
  padding: 2rem;
  color: #1c4a36;
  .wrapper {
    padding: 2rem 0 0;
    text-align: center;
    max-width: 900px;
    margin: auto;
    .logo {
      width: 80px;
      margin: auto;
      cursor: pointer;
    }
    .links_wrapper {
      display: grid;
      justify-content: space-around;
      align-items: center;
      margin-top: 1rem;
      padding: 1rem 0;
      grid-template-columns: 1fr;
      border-top: 0.5px solid #eaeaea;
      border-bottom: 0.5px solid #eaeaea;
      @media screen and (min-width: 600px) {
        grid-template-columns: repeat(3, 1fr);
      }
      .navigation,
      .categories,
      .location {
        margin: 0.5rem 0;
        h3 {
          padding-bottom: 0.5rem;
        }
        div {
          padding: 0.3rem 0;
          cursor: pointer;
          font-weight: 500;
          width: fit-content;
          margin: auto;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .copyrights {
      padding-top: 1rem;
      font-size: 0.8rem;
      color: #103f2b;
    }
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
