.hero {
  width: 100%;
  background-color: #e4f5ee;
}

.hero .wrapper {
  width: 90%;
  margin: auto;
  padding: 3rem 0;
}

@media screen and (min-width: 700px) {
  .hero .wrapper {
    padding: 6rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero .wrapper .hero_content {
  color: #1c4a36;
  font-weight: 600;
  max-width: 600px;
  margin: auto;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-animation: fadeAnimation 1s ease-in-out forwards;
          animation: fadeAnimation 1s ease-in-out forwards;
}

@media screen and (min-width: 800px) {
  .hero .wrapper .hero_content {
    width: 45%;
    margin: 0;
  }
}

.hero .wrapper .hero_content .hero_span {
  background-color: white;
  font-size: 0.8rem;
  display: inline-block;
  padding: 6px 13px;
  border-radius: 2px;
  font-weight: 500;
}

.hero .wrapper .hero_content h1 {
  font-size: 2.2rem;
  margin-top: 1rem;
  line-height: 1;
  font-weight: 700;
}

@media screen and (min-width: 700px) {
  .hero .wrapper .hero_content h1 {
    font-size: 4rem;
  }
}

.hero .wrapper .hero_content p {
  color: #1c4a36;
  font-size: 17px;
  font-weight: 500;
  margin: 1.5rem 0;
  line-height: 1.5;
}

.hero .wrapper .hero_content form {
  position: relative;
}

@media screen and (min-width: 800px) {
  .hero .wrapper .hero_content form {
    height: 75px;
  }
}

.hero .wrapper .hero_content form input {
  width: 100%;
  padding: 1.3rem 3.5rem;
  border: none;
  background-image: url("../public//search.png");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position-y: center;
  background-position-x: 30px;
  outline: none;
  border-radius: 5px;
}

@media screen and (min-width: 800px) {
  .hero .wrapper .hero_content form input {
    position: relative;
    height: 100%;
    padding: 0 4rem;
  }
}

.hero .wrapper .hero_content form input::-webkit-input-placeholder {
  font-size: 1rem;
  color: #b3b3b3;
}

.hero .wrapper .hero_content form input:-ms-input-placeholder {
  font-size: 1rem;
  color: #b3b3b3;
}

.hero .wrapper .hero_content form input::-ms-input-placeholder {
  font-size: 1rem;
  color: #b3b3b3;
}

.hero .wrapper .hero_content form input::placeholder {
  font-size: 1rem;
  color: #b3b3b3;
}

.hero .wrapper .hero_content form button {
  width: 100%;
  margin: 1rem 0;
  padding: 0.8rem;
  background-color: #1c4a36;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

@media screen and (min-width: 800px) {
  .hero .wrapper .hero_content form button {
    position: absolute;
    right: 0;
    width: 150px;
    height: 86%;
    margin: 0.3rem;
    background-color: #e4f5ee;
    color: #1c4a36;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .hero .wrapper .hero_content form button:hover {
    background-color: #1c4a36;
    color: white;
  }
}

.hero .wrapper .hero_content .popular_categories {
  font-size: 0.85rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.hero .wrapper .hero_content .popular_categories .tags_head {
  text-align: center;
  color: #919191;
}

@media screen and (min-width: 700px) {
  .hero .wrapper .hero_content .popular_categories .tags_head {
    text-align: left;
  }
}

.hero .wrapper .hero_content .popular_categories .tags {
  margin: 0.8rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 10px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

@media screen and (min-width: 700px) {
  .hero .wrapper .hero_content .popular_categories .tags {
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.hero .wrapper .hero_content .popular_categories .tags div {
  display: inline-block;
  color: #686868;
  cursor: pointer;
  word-wrap: normal;
  text-align: center;
}

@media screen and (min-width: 700px) {
  .hero .wrapper .hero_content .popular_categories .tags div {
    text-align: left;
  }
}

.hero .wrapper .hero_content .popular_categories .tags div:hover {
  text-decoration: underline;
}

.hero .wrapper .circle_wrapper {
  position: relative;
}

@media screen and (max-width: 800px) {
  .hero .wrapper .circle_wrapper {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .hero .wrapper .circle_wrapper {
    width: 45%;
  }
}

.hero .wrapper .circle_wrapper .logo1,
.hero .wrapper .circle_wrapper .logo2,
.hero .wrapper .circle_wrapper .logo3,
.hero .wrapper .circle_wrapper .logo4,
.hero .wrapper .circle_wrapper .logo5,
.hero .wrapper .circle_wrapper .logo6 {
  width: 110px;
  height: 110px;
  position: absolute;
  background-repeat: no-repeat;
  border: 8px solid white;
  background-size: cover;
  border-radius: 100%;
  overflow: hidden;
  z-index: 2;
  cursor: pointer;
  -webkit-animation: scaleAnimation 1s ease-in-out forwards;
          animation: scaleAnimation 1s ease-in-out forwards;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.hero .wrapper .circle_wrapper .logo1 {
  background-image: url("../public/logo_1.jpg");
  top: 4rem;
  left: -2rem;
}

.hero .wrapper .circle_wrapper .logo2 {
  background-image: url("../public/logo_2.jpg");
  top: 17rem;
  left: -2rem;
}

.hero .wrapper .circle_wrapper .logo3 {
  background-image: url("../public/logo_3.jpg");
  top: 27rem;
  left: 12rem;
}

.hero .wrapper .circle_wrapper .logo4 {
  background-image: url("../public/logo_4.jpg");
  top: 17rem;
  right: -2rem;
}

.hero .wrapper .circle_wrapper .logo5 {
  background-image: url("../public/logo_5.jpg");
  right: -1rem;
  top: 3rem;
}

.hero .wrapper .circle_wrapper .logo6 {
  background-image: url("../public/logo_6.jpg");
  top: -3rem;
  right: 13rem;
}

.hero .wrapper .circle_wrapper .circle {
  width: 300px;
  height: 300px;
  margin: auto;
  border-radius: 100%;
  border: 1px dotted #1c4a3685;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 900px) {
  .hero .wrapper .circle_wrapper .circle {
    width: 500px;
    height: 500px;
  }
}

.hero .wrapper .circle_wrapper .circle .hero_logo {
  background-color: white;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-animation: scaleAnimation 1s ease-in-out forwards;
          animation: scaleAnimation 1s ease-in-out forwards;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.hero .wrapper .circle_wrapper .circle .hero_logo img {
  width: 70px;
}

.partners .wrapper {
  width: 90%;
  margin: auto;
  padding: 4rem 0;
}

.partners .wrapper .header {
  color: #1c4a36;
  text-align: center;
  font-weight: 600;
}

.partners .wrapper .companies {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  margin: 2rem auto;
  row-gap: 20px;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  max-width: 500px;
  opacity: 0.3;
}

@media screen and (min-width: 700px) {
  .partners .wrapper .companies {
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
  }
}

.partners .wrapper .companies .companie_logo {
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

@media screen and (min-width: 700px) {
  .partners .wrapper .companies .companie_logo {
    width: auto;
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
}

.features .wrapper {
  width: 90%;
  margin: auto;
}

.features .wrapper .header {
  text-align: center;
}

.features .wrapper .header .features_span {
  background-color: #e4f5ee;
  color: #1c4a36;
  font-size: 0.8rem;
  display: inline-block;
  padding: 6px 13px;
  border-radius: 2px;
  font-weight: 500;
}

.features .wrapper .header h1 {
  color: #1c4a36;
  margin-top: 1rem;
}

@media screen and (min-width: 800px) {
  .features .wrapper .header h1 {
    font-size: 3rem;
  }
}

.features .wrapper .features_grid {
  display: -ms-grid;
  display: grid;
  row-gap: 20px;
  margin: 2rem 0;
}

@media screen and (min-width: 600px) {
  .features .wrapper .features_grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 800px) {
  .features .wrapper .features_grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    max-width: 900px;
    margin: 2rem auto 4rem;
  }
}

.features .wrapper .features_grid .feature {
  text-align: center;
  padding: 1rem;
}

.features .wrapper .features_grid .feature img {
  width: 50px;
}

.features .wrapper .features_grid .feature h4 {
  font-size: 1.2rem;
  margin: 1rem 0;
  color: #1c4a36;
}

.features .wrapper .features_grid .feature p {
  color: #686868;
  font-size: 1rem;
  line-height: 1.5;
}

@media screen and (min-width: 800px) {
  .features .wrapper .features_grid .feature p {
    max-width: 300px;
    margin: auto;
  }
}

.jobs {
  background-color: #f2f8f5;
}

.jobs .wrapper {
  width: 90%;
  margin: auto;
  padding: 4rem 0;
}

@media screen and (min-width: 600px) {
  .jobs .wrapper .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 5rem;
  }
}

.jobs .wrapper .header .header_text {
  color: #1c4a36;
  font-weight: 600;
}

.jobs .wrapper .header .header_text h1 {
  margin-bottom: 0.5rem;
}

.jobs .wrapper .header button {
  background-color: #1c4a36;
  color: white;
  border: none;
  padding: 1rem 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.9rem;
}

.jobs .wrapper .jobs_ctegories {
  font-size: 0.85rem;
  font-weight: 400;
  margin: 2rem 0;
}

@media screen and (min-width: 600px) {
  .jobs .wrapper .jobs_ctegories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.jobs .wrapper .jobs_ctegories .allCategories {
  text-align: center;
  color: #919191;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .jobs .wrapper .jobs_ctegories .allCategories {
    margin: 0;
  }
}

.jobs .wrapper .jobs_ctegories .allCategories:hover {
  text-decoration: underline;
}

.jobs .wrapper .jobs_ctegories .Categories {
  color: #686868;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jobs .wrapper .jobs_ctegories .Categories div {
  width: auto;
  margin: 0.5rem;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .jobs .wrapper .jobs_ctegories .Categories div {
    margin: 0 0.5rem;
  }
}

.jobs .wrapper .jobs_ctegories .Categories div:hover {
  text-decoration: underline;
}

.jobs .wrapper .jobsList {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
}

@media screen and (min-width: 600px) {
  .jobs .wrapper .jobsList {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 800px) {
  .jobs .wrapper .jobsList {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.jobs .wrapper .jobsList .job {
  background-color: white;
  color: #1c4a36;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  padding: 2rem 1rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  position: relative;
}

.jobs .wrapper .jobsList .job:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 5px 5px 10px #e4e3e3;
          box-shadow: 5px 5px 10px #e4e3e3;
}

.jobs .wrapper .jobsList .job .partTime {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #e4f5ee;
  color: #1c4a36;
  border-radius: 2px;
  padding: 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
}

.jobs .wrapper .jobsList .job .featured {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: #f5e4f4;
  color: #611a2c;
  border-radius: 2px;
  padding: 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
}

.jobs .wrapper .jobsList .job img {
  width: 55px;
}

.jobs .wrapper .jobsList .job p {
  font-weight: 500;
}

.jobs .wrapper .jobsList .job h2 {
  margin: 1.5rem 0;
}

.jobs .wrapper .jobsList .job .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.jobs .wrapper .jobsList .job .description div {
  width: auto;
  margin: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: #686868;
}

.jobs .wrapper .jobsList .job .description div:hover {
  text-decoration: underline;
}

.jobs .wrapper .jobsList .job button {
  background-color: #1c4a36;
  color: white;
  padding: 0.8rem 1.5rem;
  font-weight: 600;
  border: none;
  margin-top: 1rem;
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 4px;
}

.jobs .wrapper .selectLocation {
  text-align: center;
  margin: 2rem 0;
  color: #1c4a36;
  font-weight: 600;
}

@media screen and (min-width: 1000px) {
  .jobs .wrapper .selectLocation {
    margin: 4rem 0 2rem;
  }
}

.jobs .wrapper .locations {
  display: -ms-grid;
  display: grid;
  row-gap: 20px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

@media screen and (min-width: 600px) {
  .jobs .wrapper .locations {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 800px) {
  .jobs .wrapper .locations {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1000px) {
  .jobs .wrapper .locations {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.jobs .wrapper .locations .miami,
.jobs .wrapper .locations .morocco,
.jobs .wrapper .locations .france,
.jobs .wrapper .locations .remote {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 5px;
  width: 100%;
  height: 200px;
  position: relative;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.jobs .wrapper .locations .miami:hover,
.jobs .wrapper .locations .morocco:hover,
.jobs .wrapper .locations .france:hover,
.jobs .wrapper .locations .remote:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.jobs .wrapper .locations .miami h3,
.jobs .wrapper .locations .morocco h3,
.jobs .wrapper .locations .france h3,
.jobs .wrapper .locations .remote h3 {
  position: absolute;
  letter-spacing: 1px;
  bottom: 1rem;
  z-index: 2;
}

.jobs .wrapper .locations .miami .locationOverlay,
.jobs .wrapper .locations .morocco .locationOverlay,
.jobs .wrapper .locations .france .locationOverlay,
.jobs .wrapper .locations .remote .locationOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(52, 107, 83, 0.4)), to(rgba(28, 74, 54, 0.452)));
  background-image: linear-gradient(180deg, rgba(52, 107, 83, 0.4), rgba(28, 74, 54, 0.452));
}

.jobs .wrapper .locations .miami {
  background-image: url("../public/miami.jpg");
}

.jobs .wrapper .locations .morocco {
  background-image: url("../public/morocco.jpg");
}

.jobs .wrapper .locations .france {
  background-image: url("../public/paris.jpg");
}

.jobs .wrapper .locations .remote {
  background-image: url("../public/remote.jpg");
}

.faq {
  background-color: #f2f8f5;
  color: #1c4a36;
}

.faq .wrapper {
  width: 90%;
  margin: auto;
  padding: 4rem 0;
}

.faq .wrapper .faq_header {
  text-align: center;
}

.faq .wrapper .faq_header .faq_span {
  background-color: white;
  color: #1c4a36;
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.5rem;
  font-weight: 600;
  border-radius: 5px;
}

.faq .wrapper .faq_header h1 {
  font-weight: 700;
}

.faq .wrapper .faq_questions {
  margin-top: 4rem;
}

.faq .wrapper .faq_questions .question_wrp {
  padding: 1rem 0;
  border-bottom: 0.5px solid #1c4a3617;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  max-width: 570px;
  margin: auto;
}

.faq .wrapper .faq_questions .question_wrp .qst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 0.5rem;
}

.faq .wrapper .faq_questions .question_wrp .qst .plusicon {
  padding: 0 0.4rem;
  margin-right: 0.5rem;
  font-size: 1.5rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.faq .wrapper .faq_questions .question_wrp .qst .rotate {
  padding: 0 0.4rem;
  margin-right: 0.5rem;
  font-size: 1.5rem;
  -webkit-transform: translateX(0.5px) rotate(45deg);
          transform: translateX(0.5px) rotate(45deg);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.faq .wrapper .faq_questions .question_wrp .qst .main_qst {
  color: #1c4a36;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 0.2rem 0;
}

.faq .wrapper .faq_questions .question_wrp .respond_active {
  display: block;
  color: #686868;
  line-height: 1.5;
  -webkit-animation: fadeAnimation 0.4s ease-in-out forwards;
          animation: fadeAnimation 0.4s ease-in-out forwards;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.faq .wrapper .faq_questions .question_wrp .respond_nonactive {
  display: none;
}

.testimonials .wrapper {
  width: 90%;
  margin: auto;
  padding: 4rem 0;
}

@media screen and (min-width: 800px) {
  .testimonials .wrapper {
    padding: 6rem 0;
  }
}

.testimonials .wrapper .header {
  text-align: center;
}

.testimonials .wrapper .header .testimonials_span {
  background-color: #e4f5ee;
  color: #1c4a36;
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.5rem;
  font-weight: 600;
  border-radius: 5px;
}

.testimonials .wrapper .header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #1c4a36;
  margin-top: 1rem;
}

@media screen and (min-width: 800px) {
  .testimonials .wrapper .header h1 {
    font-size: 3rem;
  }
}

.testimonials .wrapper .app_download {
  padding: 4rem 0 0;
  color: #1c4a36;
}

@media screen and (min-width: 600px) {
  .testimonials .wrapper .app_download {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.testimonials .wrapper .app_download .ipad_image {
  width: 100%;
  min-height: 400px;
  background-image: url("../public/iPad.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: 600px) {
  .testimonials .wrapper .app_download .ipad_image {
    height: 600px;
  }
}

.testimonials .wrapper .app_download .download_details {
  padding: 4rem 0;
}

.testimonials .wrapper .app_download .download_details .span {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 2px;
  background-color: #e4f5ee;
  font-size: 13px;
  font-weight: 500;
}

.testimonials .wrapper .app_download .download_details h1 {
  margin: 1.5rem 0;
}

@media screen and (min-width: 600px) {
  .testimonials .wrapper .app_download .download_details h1 {
    font-size: 3rem;
  }
}

.testimonials .wrapper .app_download .download_details P {
  font-weight: 600;
  font-size: 1.1rem;
}

.testimonials .wrapper .app_download .download_details .flex_list {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.testimonials .wrapper .app_download .download_details .flex_list .wrpflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
}

.testimonials .wrapper .app_download .download_details .flex_list .wrpflex .checkmark {
  background-color: #e4f5ee;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
}

.testimonials .wrapper .app_download .download_details .flex_list .wrpflex p {
  font-weight: 400;
  margin-left: 0.3rem;
  color: #686868;
  font-size: 0.95rem;
}

.testimonials .wrapper .app_download .btns_wrp {
  margin-top: 2rem;
}

.testimonials .wrapper .app_download .btns_wrp button {
  background-color: #e4f5ee;
  color: #1c4a36;
  padding: 1rem 2rem 1rem 3rem;
  border: none;
  font-weight: bold;
  font-size: 0.9rem;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 15% 50%;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.testimonials .wrapper .app_download .btns_wrp button:hover {
  background-color: #f2f8f5;
}

.testimonials .wrapper .app_download .btns_wrp .appStore {
  margin-right: 1rem;
  background-image: url("../public/apple-logo.png");
}

.testimonials .wrapper .app_download .btns_wrp .playStore {
  background-image: url("../public/google-play.png");
}

.blog {
  background-color: #f2f8f5;
}

.blog .wrapper {
  padding: 4rem 0;
  width: 90%;
  margin: auto;
}

.blog .wrapper .header {
  color: #1c4a36;
}

.blog .wrapper .header .text h1 {
  font-size: 2.3rem;
}

.blog .wrapper .header .text p {
  font-weight: 600;
  padding-top: 0.5rem;
}

.blog .wrapper .header button {
  background-color: #1c4a36;
  color: white;
  padding: 0.9rem 1.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  border: none;
  border-radius: 3px;
  margin-top: 1rem;
  cursor: pointer;
}

.blog .wrapper .posts {
  margin-top: 4rem;
  display: -ms-grid;
  display: grid;
  row-gap: 20px;
}

.blog .wrapper .posts .post_one,
.blog .wrapper .posts .post_two {
  height: 300px;
  background-color: red;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
  border-radius: 5px;
  color: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
}

.blog .wrapper .posts .post_one .post_text,
.blog .wrapper .posts .post_two .post_text {
  font-weight: 500;
}

.blog .wrapper .posts .post_one .post_text .blog_title,
.blog .wrapper .posts .post_two .post_text .blog_title {
  font-size: 1.4rem;
  margin-top: 0.5rem;
}

.blog .wrapper .posts .overlay {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(52, 107, 83, 0.4)), to(rgba(28, 74, 54, 0.63)));
  background-image: linear-gradient(180deg, rgba(52, 107, 83, 0.4), rgba(28, 74, 54, 0.63));
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}

.blog .wrapper .posts .post_one {
  background: url("../public/blog-1.jpeg");
}

.blog .wrapper .posts .post_two {
  background: url("../public/blog-2.jpeg");
}

.contact {
  background-color: #1c4a36;
}

.contact .wrapper {
  width: 90%;
  margin: auto;
  color: white;
  padding: 3rem 0;
  text-align: center;
  max-width: 500px;
  margin: auto;
}

.contact .wrapper .span {
  background-color: #e4f5ee;
  color: #1c4a36;
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.5rem;
  font-weight: 600;
  border-radius: 3px;
}

.contact .wrapper h1 {
  margin: 1rem 0 0.5rem;
}

@media screen and (min-width: 500px) {
  .contact .wrapper h1 {
    font-size: 3rem;
  }
}

.contact .wrapper P {
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.5;
}

.contact .wrapper P span {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

@-webkit-keyframes scaleAnimation {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleAnimation {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes fadeAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=Home.module.css.map */