.hero {
  width: 100%;
  background-color: #e4f5ee;
}

.hero .wrapper {
  width: 90%;
  margin: auto;
  padding: 3rem 0;
}

@media screen and (min-width: 700px) {
  .hero .wrapper {
    padding: 6rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero .wrapper .hero_content {
  color: #1c4a36;
  font-weight: 600;
  max-width: 600px;
  margin: auto;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-animation: fadeAnimation 1s ease-in-out forwards;
          animation: fadeAnimation 1s ease-in-out forwards;
}

@media screen and (min-width: 800px) {
  .hero .wrapper .hero_content {
    width: 45%;
    margin: 0;
  }
}

.hero .wrapper .hero_content .hero_span {
  background-color: white;
  font-size: 0.8rem;
  display: inline-block;
  padding: 6px 13px;
  border-radius: 2px;
  font-weight: 500;
}

.hero .wrapper .hero_content h1 {
  font-size: 2.2rem;
  margin-top: 1rem;
  line-height: 1;
}

@media screen and (min-width: 700px) {
  .hero .wrapper .hero_content h1 {
    font-size: 3rem;
  }
}

.hero .wrapper .hero_content p {
  color: #1c4a36;
  font-size: 17px;
  font-weight: 500;
  margin: 1.5rem 0;
  line-height: 1.5;
}

.hero .wrapper .hero_content form {
  position: relative;
}

@media screen and (min-width: 800px) {
  .hero .wrapper .hero_content form {
    height: 75px;
  }
}

.hero .wrapper .hero_content form input {
  width: 100%;
  padding: 1.3rem 3.5rem;
  border: none;
  background-image: url("../public//search.png");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position-y: center;
  background-position-x: 30px;
  outline: none;
  border-radius: 5px;
}

@media screen and (min-width: 800px) {
  .hero .wrapper .hero_content form input {
    position: relative;
    height: 100%;
    padding: 0 4rem;
  }
}

.hero .wrapper .hero_content form input::-webkit-input-placeholder {
  font-size: 1rem;
  color: #b3b3b3;
}

.hero .wrapper .hero_content form input:-ms-input-placeholder {
  font-size: 1rem;
  color: #b3b3b3;
}

.hero .wrapper .hero_content form input::-ms-input-placeholder {
  font-size: 1rem;
  color: #b3b3b3;
}

.hero .wrapper .hero_content form input::placeholder {
  font-size: 1rem;
  color: #b3b3b3;
}

.hero .wrapper .hero_content form button {
  width: 100%;
  margin: 1rem 0;
  padding: 0.8rem;
  background-color: #1c4a36;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

@media screen and (min-width: 800px) {
  .hero .wrapper .hero_content form button {
    position: absolute;
    right: 0;
    width: 150px;
    height: 86%;
    margin: 0.3rem;
    background-color: #e4f5ee;
    color: #1c4a36;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .hero .wrapper .hero_content form button:hover {
    background-color: #1c4a36;
    color: white;
  }
}

.hero .wrapper .hero_content .popular_categories {
  font-size: 0.85rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.hero .wrapper .hero_content .popular_categories .tags_head {
  text-align: center;
  color: #919191;
}

@media screen and (min-width: 700px) {
  .hero .wrapper .hero_content .popular_categories .tags_head {
    text-align: left;
  }
}

.hero .wrapper .hero_content .popular_categories .tags {
  margin: 0.8rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 10px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

@media screen and (min-width: 700px) {
  .hero .wrapper .hero_content .popular_categories .tags {
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.hero .wrapper .hero_content .popular_categories .tags div {
  display: inline-block;
  color: #686868;
  cursor: pointer;
  word-wrap: normal;
  text-align: center;
}

@media screen and (min-width: 700px) {
  .hero .wrapper .hero_content .popular_categories .tags div {
    text-align: left;
  }
}

.hero .wrapper .hero_content .popular_categories .tags div:hover {
  text-decoration: underline;
}

.hero .wrapper .circle_wrapper {
  position: relative;
}

@media screen and (max-width: 800px) {
  .hero .wrapper .circle_wrapper {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .hero .wrapper .circle_wrapper {
    width: 45%;
  }
}

.hero .wrapper .circle_wrapper .logo1,
.hero .wrapper .circle_wrapper .logo2,
.hero .wrapper .circle_wrapper .logo3,
.hero .wrapper .circle_wrapper .logo4,
.hero .wrapper .circle_wrapper .logo5,
.hero .wrapper .circle_wrapper .logo6 {
  width: 110px;
  height: 110px;
  position: absolute;
  background-repeat: no-repeat;
  border: 8px solid white;
  background-size: cover;
  border-radius: 100%;
  overflow: hidden;
  z-index: 2;
  cursor: pointer;
  -webkit-animation: scaleAnimation 1s ease-in-out forwards;
          animation: scaleAnimation 1s ease-in-out forwards;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.hero .wrapper .circle_wrapper .logo1 {
  background-image: url("../public/logo_1.jpg");
  top: 4rem;
  left: -2rem;
}

.hero .wrapper .circle_wrapper .logo2 {
  background-image: url("../public/logo_2.jpg");
  top: 17rem;
  left: -2rem;
}

.hero .wrapper .circle_wrapper .logo3 {
  background-image: url("../public/logo_3.jpg");
  top: 27rem;
  left: 12rem;
}

.hero .wrapper .circle_wrapper .logo4 {
  background-image: url("../public/logo_4.jpg");
  top: 17rem;
  right: -2rem;
}

.hero .wrapper .circle_wrapper .logo5 {
  background-image: url("../public/logo_5.jpg");
  right: -1rem;
  top: 3rem;
}

.hero .wrapper .circle_wrapper .logo6 {
  background-image: url("../public/logo_6.jpg");
  top: -3rem;
  right: 13rem;
}

.hero .wrapper .circle_wrapper .circle {
  width: 300px;
  height: 300px;
  margin: auto;
  border-radius: 100%;
  border: 1px dotted #1c4a3685;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 900px) {
  .hero .wrapper .circle_wrapper .circle {
    width: 500px;
    height: 500px;
  }
}

.hero .wrapper .circle_wrapper .circle .hero_logo {
  background-color: white;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-animation: scaleAnimation 1s ease-in-out forwards;
          animation: scaleAnimation 1s ease-in-out forwards;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.hero .wrapper .circle_wrapper .circle .hero_logo img {
  width: 70px;
}

.partners .wrapper {
  width: 90%;
  margin: auto;
  height: 100vh;
  padding: 4rem 0;
}

.partners .wrapper .header {
  color: #1c4a36;
  text-align: center;
  font-weight: 600;
}

.partners .wrapper .companies {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  margin: 2rem auto;
  row-gap: 20px;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  max-width: 500px;
}

@media screen and (min-width: 700px) {
  .partners .wrapper .companies {
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
  }
}

.partners .wrapper .companies .companie_logo {
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  opacity: 0.4;
}

@media screen and (min-width: 700px) {
  .partners .wrapper .companies .companie_logo {
    width: 100px;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes scaleAnimation {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleAnimation {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes fadeAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=Home.module.css.map */